{% load bootstrap4 %}
{% load i18n static %}
{% load activity_tags %}
{% load notifications_tags %}
{% load cookielaw_tags %}



<!DOCTYPE html>
<html class="no-js" lang="en">


  <meta charset="utf-8" />
  <title>
    {% block title %}
    {% if page %}
    {% if page.seo_title %}{{ page.seo_title }}{% else %}{{ page.title }}{% endif %}
    -
    {% elif object.page_name %}
    {{ object.page_name }}
    -
    {% endif %}
    {% endblock %}
    {% block title_suffix %}
    {% if page %}
    {% with page.get_site.site_name as site_name %}
    {% if site_name %}{{ site_name }}{% endif %}
    {% endwith %}
    {% else %}
    {% trans 'ITEC' %}
    {% endif %}

    {% endblock %}
  </title>
  <meta name="description" content="" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  {# Favicon #}
  <link rel="shortcut icon" type="image/png" href="{% static 'media/favicon.ico' %}" />

  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <script type="text/javascript" src="{% static 'js/jquery-ui.min.js' %}"></script>

  {# Global stylesheets #}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/flag-icon.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
  <link href="{% static "cookielaw/css/cookielaw.css"%}" rel="stylesheet" />

  {% block extra_css %}
  {# Override this in templates to add extra stylesheets #}
  {% endblock %}

    <!-- Fengyuan Chen's Datepicker -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" integrity="sha256-b88RdwbRJEzRx95nCuuva+hO5ExvXXnpX+78h8DjyOE=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js" integrity="sha256-/7FLTdzP6CfC1VBAj/rsp3Rinuuu9leMRGd354hvk0k=" crossorigin="anonymous"></script>
  <script src="{% static "cookielaw/js/cookielaw.js"%}" type="text/javascript"></script>

</head>

{% load custom_tags %}

<body>
  <nav class="navbar d-flex  navbar-expand-lg navbar-light bg-white sticky-top shadow-sm">
    <a class="nav-link align-self-start nav-link-logo d-md-none d-lg-none" href="/">
      <img src="{% static 'media/logo_itec.png' %}" class="logo">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse  navbar-collapse justify-content-md-center" id="navbarSupportedContent">
      <a class="nav-link align-self-start  d-none d-lg-block {% active home %}" style="padding:0" href="/">
        <img src="{% static 'media/logo_itec.png' %}"
          class="logo p-absolute align-top align-self-center float-left" style="max-height:70px">
      </a>
      <div class="justify-content center d-flex ml-auto">
        <ul class=" navbar-nav">
          <li><a class="nav-link justify-content-end {% active projects %}" href="/">ITEC</a></li>

          {% if user.is_authenticated%}
          <li><a class="nav-link  {% active projects %}" href="/projects/">Projects</a></li>
          {%endif%}

          {% if author_admin %}
          <li><a class="nav-link " href="/projects/create">Create project</a></li>
          {% endif%}


          {% if user.is_superuser or author or administrator_of %}
          <li><a class="nav-link " href="/projects/administration">Administration</a></li>
          {%endif%}

          {% if user.is_superuser or author or administrator_of or member_of %}
          <li><a class="nav-link justify-content-end {% active projects %}" href="/projects/feed">Reports</a></li>
          {%endif%}

          {% if user.is_superuser or author or administrator_of %}
          <li><a class="nav-link {% active projects %}"
              href="/projects/notifications">Messages:{% notifications_unread %}</a></li>
          {%endif%}

        <li><a class="nav-link {% active questions %}"href="">Join</a></li>

          <li><a class="nav-link {% active about_us %}" href="">{% trans 'About' %}</a></li>

          {% if user.is_authenticated %}
          <li><a class="nav-link {% active account %}" href="{% url 'my_account' %}">{% trans 'Account' %}</a></li>
          <li><a class="nav-link {% active logout %}" href="{% url 'account_logout' %}">{% trans 'Sign out' %}</a></li>
          {% else %}
          <li><a class="nav-link {% active login %}"
              href="{% url 'account_login' %}">{% trans 'Sign in / Sign up' %}</a></li>
          {% endif %}

          {% load i18n %}
          <!--<li>
            <div class="nav-item dropdown">
              <form class="form-inline my-2 my-lg-0" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                {% get_current_language as current_language %}
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="flag-icon flag-icon-{%language_country current_language%}"></span>
                  <span class="caret"></span>
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="min-width:0px">
                  {% to_list 'en' 'bg' as all_languages %}
                  {% for language in all_languages %}
                  {% if language != current_language %}
                  <button class="btn btn-link dropdown-item" type="submit">
                    <input name="language" type="hidden" value="{{language}}">
                    <span class="flag-icon flag-icon-{%language_country language%}"></span>
                  </button>
                  {% endif %}
                  {% endfor %}
                </div>
                <input name="next" type="hidden" value="{{ redirect_to }}">
              </form>
            </div>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>

{% cookielaw_banner %}
  {% block jumbotron %}

  {% endblock %}

  <div class="container">
    {% block breadcrumbs_container %}
    <nav class="mt-3" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">{% trans 'Home' %}</a></li>
        {% block breadcrumbs %}{% endblock %}
      </ol>
    </nav>
    {% endblock %}

    {% bootstrap_messages %}

    {% block content %}

    <div class="admin-panel sticky-top" style='z-index: 2'>
      <ul class="mt-1 nav justify-content-center bg-primary text-white mb-4 rounded-lg font-weight-bold">
        <li class="nav-item pt-2 pl-1">
        </li>
        {% block admin_tools %}
        {% endblock %}
      </ul>
    </div>
    {% endblock %}
    <div class="empty-page-home"></div>
  </div>

  <footer class="footer">
    <div class="container-fluid">
      <div class="row footer-background pt-2">
        <div class="col-md-4">
          <ul class="list-group list-group-flush">
            <a class="list-group-item no-border" href="/terms/условия-за-ползване">
            Terms of Use
            </a>
            <a class="list-group-item no-border" href="/terms/политика-за-поверителност">
                Privacy Policy
            </a>
            <a class="list-group-item no-border" href="/terms/политика-за-бисквитки">
                Cookie Policy
            </a>
          </ul>
        </div>
        {% comment %}
        <div class="col-md-4">
            <br>
          <p class="font-weight-bold footer-titles float-right">Contact Us:</p>
          </div>
          <div class="col-md-4">
              <br>
          {% include 'projects/bugreport_form.html' %}
        </div>
        {% endcomment %}
        <div class="col-md-12 mt-5 mb-3">
          <img class="float-left mx-3" style="width:55px" src="{% static 'media/logo_itec1.png' %}">
          <div>
            <h6>ITEC Foundation</h6>
            <p>International Technology Exchange Cooperation
        <span class="float-right">
            This is an alpha version of ITEC, designed to refine functionality and fix bugs.</span>
        </p>
      </div>
    </div>
  </footer>




  {# Global javascript #}
  <script type="text/javascript" src="{% static 'js/holder.min.js' %}"></script>

  <script src="https://cdn.jsdelivr.net/npm/getstream/dist/js_min/getstream.js"></script>
  {% if user.is_authenticated %}
  <script type="text/javascript">
    var token = '{{stream_token}}';
    var client = stream.connect('8j6cdpvzeft8', null, '64876');
    var notifications = client.feed('notification', {{ user.id }}, token);
    notifications.get({ limit: 0 }).then(function (body) {
      updateNotificationCounter(body.unseen);
    });

    // Случай 1: потребителя е натиснал бутона за известия и те зареждат async
    $('#navbarDropdown').click(function () {
      $.get({
        url: '{% url "notifications" %}',
        success: populateNotifications
      });
    });

    function populateNotifications(data) {
      document.querySelector('#notifications').innerHTML = data;
      updateNotificationCounter(0);
    }


    // Случай 2: идва ново известие и обновяваме брояча
    function updateNotificationCounterFromLive(data) {
      return updateNotificationCounter(data.new.length)
    }

    function updateNotificationCounter(unseenCount) {

      var unseen = document.querySelector('#notifications_unseen');
      unseen.textContent = unseenCount;
      if (unseenCount === 0) {
        $(unseen).hide()
      }
      else {
        $(unseen).show()
      }

    }

    function successCallback() {
      console.log('Now listening to changes in realtime.');
    }

    function failCallback(data) {
      //TODO bootstrap notification
      alert('Something went wrong, check the console logs');
      console.log(data);
    }

    notifications.subscribe(updateNotificationCounterFromLive).then(successCallback, failCallback);
  </script>
  {% endif %}

  {% block extra_js %}
  {# Override this in templates to add extra javascript #}
  {% endblock %}
</body>

</html>
