{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load activity_tags %}
{% block jumbotron %}
<!--<div class="jumbotron jumbotron-fluid paral jumbotron-bg-cover"></div>//-->
<div class="container">
    <div class="row mb-5 mt-5">
    <div class="col-md-9 " style="color:#a2f2e1;">
        <h1>International Technology Exchange Cooperation</h1>
        <p></p>
        <p>
        The world economy is entering a new phase of uncertainty, which is testing the capacity of societies to cope with shock changes.
        </p>
        <p>
        At the same time, the new paradigm that is manifesting itself in the world is related to the collective principle, cooperation and shared management. Our mission is to support the development of innovation culture and the shared exchange of knowledge.
        </p>
        <p>
        We are creating a network of business entities aiming to expand their scientific and technical potential and the positive impact of their activities on the environment. An economic community in which knowledge is applied wisely and helps build a new and more sustainable economy.
        </p>
    </div>
    </div>
</div>
{% endblock %}
{% block content %}
{% block breadcrumbs_container %}
{% endblock %}
{%  block main %}{% endblock %}

{% endblock %}
