anyascii==0.2.0
asgiref==3.2.10
beautifulsoup4==4.9.3
boto3==1.18.2
botocore==1.21.2
cairocffi==1.2.0
CairoSVG==2.5.2
certifi==2021.5.30
cffi==1.14.5
chardet==3.0.4
cryptography==3.4.7
cssselect2==0.3.0
defusedxml==0.7.1
Django==3.1.1
django-allauth==0.45.0
django-anymail==8.4
django-autocomplete-light==3.8.2
django-bootstrap4==3.0.1
django-countries==7.2.1
django-debug-toolbar==3.2.1
django-filter==2.4.0
django-model-utils==4.1.1
django-modelcluster==5.1
django-notifications-hq==1.6.0
django-photologue==3.13
django-qr-code==2.2.0
django-sortedm2m==3.0.2
django-storages==1.11.1
django-taggit==1.5.1
django-tempus-dominus==5.1.2.14
django-treebeard==4.5.1
django-vote==2.2.0
djangorestframework==3.12.4
docutils==0.17.1
draftjs-exporter==2.1.7
et-xmlfile==1.1.0
ExifRead==2.1.2
html5lib==1.0.1
idna==2.8
jmespath==0.10.0
jsonfield==3.1.0
l18n==2018.5
oauthlib==3.1.0
openpyxl==3.0.7
Pillow==8.4.0
psycopg2-binary==2.9.3
pycparser==2.20
pycryptodomex==3.9.4
PyJWT==1.7.1
Pyphen==0.10.0
python-dateutil==2.8.1
python3-openid==3.1.0
pytz==2019.3
PyYAML==5.2
qrcode==6.1
requests==2.22.0
requests-oauthlib==1.3.0
rules==3.0
s3transfer==0.5.0
segno==1.3.3
six==1.13.0
soupsieve==1.9.5
sqlparse==0.3.0
stream-django==1.6.2
stream-python==5.0.0
swapper==1.1.2.post1
tablib==3.0.0
telepath==0.2
tinycss2==1.0.2
Unidecode==1.1.1
urllib3==1.25.7
wagtail==2.13.4
WeasyPrint==52.5
webencodings==0.5.1
Willow==1.4
xlrd==2.0.1
XlsxWriter==1.4.4
xlwt==1.3.0

