#CookielawBanner {
    background: #008080;
    padding: 15px 0;
    color: #fff;
}

.cookie-container {
    position: sticky;
    top: 0;
    padding-bottom: 2rem;
    margin-right: auto;
    margin-left: auto;
    max-width: 90%;
    z-index: 1020;
}
.cookie-container p {
  margin-bottom: 7px;
  color: #ADD8E6;
  font-size: 0.75rem;
}

#cookieButton {
    font-weight: 600;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #241f12;
    opacity: .5;
    margin-top:0;
}
.terms {
  border: 1px dotted #fff;
}

#CookielawBanner #CookielawCross {
    background: url('../img/close.png') no-repeat 0 0;
    cursor: pointer;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 15px;
}
