{% load i18n static %}

<div id="CookielawBanner" class="sticky-top">
    <div class="cookie-container">
        <a
            id="cookieButton"
            class="btn btn-default pull-right"
            href="javascript:Cookielaw.accept();"
            style="padding:0;"
            >
            &times;
        </a>
        <h6>
            {% trans "This application uses cookies to make your experience better." %}
        </h6>
        <p>
        {% block trans %}
        This application stores small text data (cookies) on your device to provide better
        content for statistical purposes. You can disable the use of cookies by changing your
        browser settings. By browsing our application without changing your browser settings,
        you grant us permission to store this information on your device.
        {% endblock %}
        </p>
        <h3>
            <a
                id="cookieButton"
                class="btn btn-default pull-right terms"
                href="javascript:Cookielaw.accept();"
                >
                {% trans "Accept" %}
            </a>
        </h3>
        <h3>
            <a
                id="cookieButton"
                class="btn btn-default pull-left terms"
                href="javascript:Cookielaw.reject();"
                >
                {% trans "Reject" %}
            </a>
        </h3>

    </div>
</div>
