{% extends "easy_pdf/base.html" %}

{% load qr_code %}

{% block extra_style %}
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
  <style type="text/css">
    /* @font-face {
      font-family: 'Segoe UI';
      src: url(fonts/SegoeUI.ttf);
    } */
    body {
        /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
        font-family: 'Roboto', sans-serif;
        color: #333333;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="content">
    <p>Здравей, това е твоят билет за събитието:</p>
    <dl>
      <dt>URL:</dt>
      <dd>{{ url }}</dd>
      <dt>Уникален код:</dt>
      <dd>{{ ticket_code }}</dd>
      <dt>Дата:</dt>
      <dd>15.08.2020</dd>
      <dt>Място:</dt>
      <dd>Near the dam</dd>
    </dl>
    <div>
      {% qr_from_text url size="s" border="3" image_format="png" error_correction="M" %}
    </div>
  </div>
{% endblock %}
