{% extends "base.html" %}
{% load i18n %}
{%block content%}
{% trans "" %}
<ul>
    {% if user.is_superuser %}
    <li>
        <a class="nav-link " href="/projects/unverified_causes">
            {% trans "Projects for verification" %}
        </a>
    </li>
    {% endif %}
    <li>
        <a class="nav-link " href="/projects/bugreport_list">
            {% trans "Recieved feedback" %}
        </a>
    </li>
    {% if projects %}
        {% for project in projects %}
            {% if project.for_review %}
                <li>
                    <a class="nav-link " href="{% url 'projects:time_necessity_list' project.pk %}">
                        {% trans "Time Support for " %}{{ project.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% endif %}
</ul>
{%endblock%}
