{% extends "base.html" %}

{% load i18n %}

{% block breadcrumbs %}
{% include 'projects/community_breadcrumb.html' with object=object active='active' only %}
{% endblock %}

{% block content %}
    <h2>{% trans 'Communities' %}</h2>
    <div><p>Платформата е средство, за запознаване и изграждане на познанства в работата, които се стремим да прераснат в приятелства, подкрепа и опора.

Общността е територия за свързване и подкрепа. В този смисъл, ако един от нас няма официална организация, то следва да намери подкрепа в общността, за приемник на своята Задруга.

Изберете общностна организация и изпратете запитване за администрация на своята Задруга. Подробностите се уточняват в лична комуникация по имейл, телефон, Slack.</p></div>
    <a class="btn btn-primary" href="{% url 'projects:community_create' %}">{% trans 'Add community' %}</a>
    <ul class="list-group mt-3">
        {% for community in object_list %}
              <a class="list-group-item" href="{% url 'projects:community_details' community.pk %}">{{ community.name }}</a>
        {% endfor %}
    </ul>
{% endblock %}
