{% extends "base.html" %} {% block content %}

<form action="https://www.epay.bg/" method="post" name="epay">
	<input type="hidden" name="PAGE" value="{{context.PAGE}}" />
	<input type="hidden" name="DESCR" value="{{context.DESCR}}" />
	<input type="hidden" name="MIN" value="{{context.MIN}}" />
	<input type="hidden" name="INVOICE" value="{{context.INVOICE}}" />
	<input type="hidden" name="AMOUNT" value="{{context.AMOUNT}}" />
	<input type="hidden" name="EXP_TIME" value="{{context.EXP_TIME}}" />
	<input type="hidden" name="ENCODED" value="{{context.ENCODED}}" />
	<input type="hidden" name="CHECKSUM" value="{{context.CHECKSUM}}" />
	<input
		type="hidden"
		name="URL_OK"
		value="https://horodeya.com/projects/accounts/{{context.user_id}}/support/money/list"
	/>
	<input
		type="hidden"
		name="URL_CANCEL"
		value="https://horodeya.com/projects/{{context.project_id}}/"
	/>
	<input type="submit" value="Плати през Epay" />
</form>
{% endblock content %}
