{% extends 'base.html' %}
{% load i18n %}
{% load notifications_tags %}
{% block breadcrumbs %}
<li class="breadcrumb-item active" aria-current="page">Съобщения</li>
{% endblock %}

{%block  content %}

<a  style='margin-right:20px' href="/projects/notifications">
    {% trans "Unread Messages: " %}{% notifications_unread %}
</a>
<a href="/projects/notifications_read">{% trans "Read Messages: " %}</a>

 {%for notf in notifications%}
 <h6 style="margin-top:20px;margin-bottom:20px;">
     {{notf.verb}} - {% trans "before" %} {{notf.timestamp|timesince}}-
     <a href='/projects/notifications/{{notf.id}}/mark_read'>
         {% trans "Readed" %}
     </a>
 </h6>
 {%endfor%}

{% notifications_unread as unread_count %}
{% if unread_count %}
<a href="/projects/notifications_mark_read">
    {% trans "Mark all messages as read" %}
</a>
{%endif%}
<div class="empty-page-two">
</div>

{%endblock content %}
