{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load projects_tags %}
{% load activity_tags %}
{% load bootstrap4 %}
{% block breadcrumbs %}

{% include "projects/project_breadcrumb.html" with project=object active="active" only %}
{% endblock %}

{% block admin_tools %}
{% if author %}
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white"
    href="{% url 'projects:details' object.pk %}?show_admin=false">
      {% trans 'See as regular user' %}
  </a>
</li>
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:time_necessity_list' object.pk %}">
      {% trans 'Volunteers' %}
  </a>
</li>
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:thing_necessity_list' object.pk %}">
      {% trans 'Donations' %}
  </a>
</li>
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:report_create' object.pk %}">
      {% trans 'New report' %}
  </a>
</li>
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:gallery_update' project.pk %}">
      {% trans 'Update images' %}
  </a>
</li>
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:update_text' project.pk %}">
      {% trans 'Update text' %}
  </a>
</li>
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:update_slack' project.pk %}">
      {% trans 'Add slack' %}
  </a>
</li>

<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:update_administrators' project.pk %}">
      {% trans 'Add administrator' %}
  </a>
</li>
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:update_members' project.pk %}">
      {% trans 'Add member' %}
  </a>
</li>

{% elif as_regular_user %}
<li class="nav-item flex-fill text-center ">
  <a class="nav-link text-white" href="{% url 'projects:details' object.pk %}">
      {% trans 'See as admin' %}
  </a>
</li>
{% endif %}
{% endblock %}

{% block content %}
{{ block.super }}

<script>
  function changeImage(btn, image) {
    $('.thumbnails').removeClass('active')
    $(btn).addClass('active');
    document.getElementById('image').src = image;
  }
</script>
<div class="row mt-4" style="margin-right:0; margin-left:0;">
    <div class="col-md-8 galery">
    {% if object.gallery.public|length == 0 %}
        {% if author %}
        <a class="btn btn-link" href="{% url 'projects:gallery_update' object.id %}">{% trans "Add image" %}</a>
        {% endif %}
    {% else %}
        {% with object.gallery.public|first as image %}
        <img id="image" src="{{image.get_display_url}}" alt="{{image.title}}" class="card-img thumbnails">
        {% endwith %}
        {% for image in object.gallery.public|slice:":8" %}
        <button class="btn btn-light thumbnails {% if forloop.first %} active {% endif %}"
        onclick="changeImage(this, '{{ image.get_display_url }}')">
        <img src="{{ image.get_thumbnail_url }}" class="thumbnails" alt="{{ image.title }}">
        </button>
        {% endfor %}
    {% endif %}
    </div>
    <div class="col-md-4 mt-4" style="margin-top:0!important;">
        <h1>{{ object.name }}</h1>
        <hr style="border: 5px solid #5cb0cef5;">
        <h3>{{ object.description }}</h3>
        <br>
        {% if project.location is not none %}
            <p>{% trans "Location: " %}{{ project.location }},</p>
        {% endif %}
        {% if project.start_date is not none %}
            <p>{% trans "Starting date: " %}{{ project.start_date }},</p>
        {% endif %}
        {% if project.end_date is not none %}
            <p>{% trans "End date: " %}{{ project.end_date }},</p>
        {% endif %}
        {% if project.author_admin is not none %}
            <p>{% trans "Project author: " %}{{ project.author_admin }},</p>
        {% endif %}
        {%if object.slack_channel is not None %}
            <p>{% trans "Slack chanel: " %}{{object.slack_channel}}</p>
        {%endif%}
        {%if administrators is not None %}
            <p>{% trans "Project Administrators: " %}
            {{administrators }}</p>
        {%endif%}
        {%if members is not None %}
            <p>{% trans "Project Members: " %}
            {{ members }}</p>
        {%endif%}
    </div>
</div>

<div class="">
  <div class="body">
    <br />
    <div class="accordion" id="shortLongText">
      <div class="collapse show" id="shortText" data-parent="#shortLongText">
        {{ object.text|linebreaks|truncatewords_html:50 }}
        {% if object.text|length > 50 %}
        <a class='btn btn-link' data-toggle="collapse" href="#fullText">{% trans 'Show more' %}</a>
        {% endif %}
      </div>
      <div class="collapse" id="fullText" data-parent="#shortLongText">
        {{ object.text|linebreaks}}
        <a class='btn btn-link' data-toggle="collapse" href="#shortText">{% trans 'Show less' %}</a>
      </div>
    </div>
  </div>
</div>

<div class="">
    {% if author %}
    <div id="volunteer" class="col-md-4 mt-4">
        {% include "projects/project_stats.html" with project=object %}
    </div>
    {% endif %}
</div>

<div id="donate" class="col-md-4 mt-4">
    <a class="btn btn-primary mt-3"
        href="{% url 'projects:money_support_create' project.pk %}?supportertype=donator">
        {% trans 'Donate' %}
    </a>
</div>

{% if author %}
<div id="reports" class="col-8 p-0 mt-5">
    <h3><b>{% trans 'Reports:' %}</b></h3>
    <p>{% trans 'Regular reports allow for transparency and accountability. Read the reports from the cause.' %} </p>
    <table class="table mb-0">
        <thead>
            <tr>
                <th scope='col'>{% trans 'Description' %}</th>
                <th scope='col'>{% trans 'Published' %}</th>
                <th scope='col' style="width:30px">{# Действието за четене #}</th>
            </tr>
        </thead>
        {% with latest_reports=object.latest_reports %}
        {% for report in latest_reports.0 %}
        <tr>
            <td>{{report.name}}</td>
            <td>{{report.published_at}}</td>
            <td>
                <a class="btn-link" href="{{report.get_absolute_url}}">{% trans 'Read' %}</a>
            </td>
        </tr>
        {% endfor %}
        <tr>
        {% if latest_reports.0 %}
            <td colspan="3">
                <a class="btn-link" href="{% url 'projects:report_list' project.pk %}"> {% trans 'see all' %} </a>
            </td>
        {%else%}
            <td>{% trans 'No Reports yet' %}</td>
        </tr>
        {%endif%}
        {% endwith %}
    </table>
    <a class="btn btn-primary" href="{% url 'projects:report_create' project.pk %}">
        {% trans 'Add new report' %}
    </a>
    <br><br>
    <a class="btn btn-primary" href="{% url 'projects:follow_project' object.pk %}">
        {% trans 'Receive reports' %}
    </a>
</div>
    {% for activity in timeline %}
        {% render_activity activity %}
    {% endfor %}
{% endif %}
{% endblock %}
